* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: sans-serif;
}

header {
    height: 7vh;
    width: 99%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    position: fixed;
}

header .bi-list {
    cursor: pointer;
    height: 46px;
    width: 46px;
}

header .logo {
    font-weight: bold;
    font-size: 20px;
}

header .logo a {
    text-decoration: none;
    color: black;
}

header .navbar {
    display: flex;
    align-items: center;
}

header .navbar a {
    color: black;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    transition: .5s ease-in-out;
    display: none;
}

header .navbar a:hover {
    color: gray;
}  

.bi-x-circle {
    display: none;
    cursor: pointer;
    height: 46px;
    width: 46px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: url(backgroundmdcarwash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container .home-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container .home-text p {
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.container .home-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container .home-text .buttons-home {
    margin-top: 20px;
}

.container .home-text .buttons-home .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.container .home-text .buttons-home a {
    text-decoration: none;
    color: black;
}

.container .home-text .buttons-home .btn:hover {
    transform: translateY(-5px);
}

.container .home-text .buttons-home .btn:first-child {
    background-color: rgb(122, 17, 213);
    color: black;
}

.container .home-text .buttons-home .btn:last-child {
    background-color: rgb(208, 15, 131);
    color: white;
}

.car-section {
    padding: 20px;
    background-color: #ffffff;
    color: black;
}

/* car box */
.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.car-box {
    border: 1px solid #ccc;
    background-color: #3838384b;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(39, 38, 38, 0.543);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}

.car-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(66, 65, 65, 0.2);
}

.car-image {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.car-box a {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2d34b8; /* Groene kleur */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.car-box a:hover {
    background-color: #303592; /* Donkerder groene kleur */
}












@media (max-width: 768px) {
    .car-box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header .logo {
        font-size: 10px;
    }

    header .navbar a {
        font-size: 11px;
    }

    .bi-list, .bi-x-circle {
        height: 30px;
        width: 30px;
        padding-right: 10px;
    }

    .container .home-text {
        width: 100%;
    }

    .container .home-text p {
        font-size: 15px;
    }

    .container .home-img {
        display: none;
    }

    .container .home-text .buttons-home .btn {
        font-size: 14px;
        
    }
}